<div class="content-right">
  <div class="wellcome">
    <h2 class="wellcome__title">Добро пожаловать!</h2>
    <div class="wellcome__info">
      <img src="../img/coffee-1.jpg" alt="coffee" class="wellcome__info-img">
      <div class="wellcome__info-text">
        <p class="wellcome__info-paragraph">Это демонстрационный сайт.</p>
        <p class="wellcome__info-paragraph">Все содержимое не актуальное и размещено исключительно для примера.</p>
        <p class="wellcome__info-paragraph">До XIV века кофе произрастал в Эфиопии в диком виде. После кофейное
          дерево было привезено на Аравийский полуостров. В XVI веке широко распространяться стал в Османской
          империи. До XIV века кофе произрастал в Эфиопии в диком виде. После кофейное
          дерево было привезено на Аравийский полуостров. В XVI веке широко распространяться стал в Османской
          империи.</p>
      </div>
    </div>
    <p class="wellcome__paragraph">В конце XVI века европейские торговцы начали закупать кофе в арабских портах
      и привозить в Европу в 1600-е гг.
      Согласно легенде, в середине XVII века мусульманский пилигрим тайно вывез кофейные зёрна в Южную Индию.
      Оттуда в конце XVII века голландские торговцы тайно вывезли кофейное дерево на Яву и Суматру.</p>
  </div>

  <div class="novelty">
    <h2 class="novelty__title">Новинки</h2>
    <ul class="novelty-catalog__list">
      <li class="novelty-catalog__item product">
        <div class="product__code">
          <span class="product__id">Код: 41256</span>
          <svg>
            <use xlink:href="img/sprite.svg#favourite"></use>
          </svg>
        </div>
        <img src="../img/coffee-4.jpg" alt="cap" class="product__img">
        <h3 class="product__title">" БАБОЧКА- 2 " ЧЁРНАЯ телевизионная антенна комнатная цифровая DVB-T2 с
          зигзагом </h3>
        <span class="product__oldprice">550 </span>
        <span class="product__price">1 500 </span>
        <span class="product__quantity">Количество:</span>
        <div class="product__stepper">
          <div class="stepper">
            <button class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled">
            </button>
            <input type="text" class="stepper__input" value="1" maxlength="5">
            <button class="btn-reset stepper__btn stepper__btn--plus">
            </button>
          </div>
          <button class="btn-reset all-btn product-incart-btn">В корзину</button>
        </div>
        <button class="btn-reset product-buy-btn">Купить в 1 клик</button>
      </li>
      <li class="novelty-catalog__item product">
        <div class="product__code">
          <span class="product__id">Код: 45674</span>
          <svg>
            <use xlink:href="img/sprite.svg#favourite"></use>
          </svg>
        </div>
        <img src="../img/coffee-2.jpg" alt="cap" class="product__img">
        <h3 class="product__title">" БАБОЧКА- 2 " ЧЁРНАЯ телевизионная антенна комнатная цифровая DVB-T2 с
          зигзагом </h3>
        <span class="product__oldprice">550 </span>
        <span class="product__price">383 </span>
        <span class="product__quantity">Количество:</span>
        <div class="product__stepper">
          <div class="stepper">
            <button class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled">
            </button>
            <input type="text" class="stepper__input" value="1" maxlength="5">
            <button class="btn-reset stepper__btn stepper__btn--plus">
            </button>
          </div>
          <button class="btn-reset all-btn product-incart-btn">В корзину</button>
        </div>
        <button class="btn-reset product-buy-btn">Купить в 1 клик</button>
      </li>
      <li class="novelty-catalog__item product">
        <div class="product__code">
          <span class="product__id">Код: 47854</span>
          <svg>
            <use xlink:href="img/sprite.svg#favourite"></use>
          </svg>
        </div>
        <img src="../img/coffee-3.jpg" alt="cap" class="product__img">
        <h3 class="product__title">" БАБОЧКА- 2 " ЧЁРНАЯ телевизионная антенна комнатная цифровая DVB-T2 с
          зигзагом </h3>
        <span class="product__oldprice">550</span>
        <span class="product__price">9 454</span>
        <span class="product__quantity">Количество:</span>
        <div class="product__stepper">
          <div class="stepper">
            <button class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled">
            </button>
            <input type="text" class="stepper__input" value="1" maxlength="5">
            <button class="btn-reset stepper__btn stepper__btn--plus">
            </button>
          </div>
          <button class="btn-reset all-btn product-incart-btn">В корзину</button>
        </div>
        <button class="btn-reset product-buy-btn">Купить в 1 клик</button>
      </li>
    </ul>
    <a href="#" class="novelty__all-link">Все новинки</a>
  </div>

  <div class="news">
    <h2 class="news__title">Новости</h2>
    <ul class="news__list">
      <li class="news__item">
        <a href="#" class="news__link">
          <img src="../img/coffe-machine.jpg" alt="news photo" class="news__img">
          <div class="news__text">
            <span class="news__text-date">21 Августа 2015</span>
            <span class="news__text-descr">Новые кофемашины в нашем каталоге</span>
          </div>
        </a>
      </li>
      <li class="news__item">
        <a href="#" class="news__link">
          <img src="../img/coffe-machine.jpg" alt="news photo" class="news__img">
          <div class="news__text">
            <span class="news__text-date">21 Августа 2015</span>
            <span class="news__text-descr">Новые кофемашины в нашем каталоге</span>
          </div>
        </a>
      </li>
      <li class="news__item">
        <a href="#" class="news__link">
          <img src="../img/coffe-machine.jpg" alt="news photo" class="news__img">
          <div class="news__text">
            <span class="news__text-date">21 Августа 2015</span>
            <span class="news__text-descr">Новые кофемашины в нашем каталоге</span>
          </div>
        </a>
      </li>
    </ul>
    <a href="#" class="news-all__link">Все новости</a>
  </div>
</div>
