<div class="form-container">
  <form class="form">
    <button class="cross"></button>
    <h2 class="form__title">Заказать звонок</h2>
    <input type="text" placeholder="Ваше имя" class="form__name">
    <input type="text" placeholder="Ваш телефон" class="form__tel">
    <input type="text" placeholder="В какое время вам позвонить?" class="form__time">
    <textarea name="" id="" maxlength="100" placeholder="Комментарий" class="form__comment"></textarea>
    <button class="btn-reset form__btn" type="submit">Отправить</button>
    <label class="checkbox">
      <input type="checkbox" class="checkbox__custom">
      <span class="checkbox__text">Нажимая кнопку "отправить", я соглашаюсь на обработку моей персональной информации на условиях,
            определенных <a href="#">Политикой конфиденциальности</a>и с политикой в отношении обработки персональных данных.
          </span>
    </label>
  </form>
</div>

