<div class="personal-account">
  <div class="signin">
    <h2 class="personal-account__title">Личный кабинет</h2>
    <input type="text" placeholder="Email" class="signin__mail">
    <input type="text" placeholder="Пароль" class="signin__password">
    <div class="signin__buttons">
      <button class="btn-reset all-btn signin-btn">Войти</button>
      <div class="signin__login">
        <span class="forgot-password">Забыли пароль?</span>
        <span class="login">Регистрация</span>
      </div>
    </div>
  </div>
  <div class="account">
    <h2 class="personal-account__title">Личный кабинет</h2>
    <div class="personal-data">
      <div class="account__name">Дмитрий Олегович</div>
      <div class="account__tel">+79998039756</div>
    </div>
    <ul class="account__menu">
      <li class="account__item"><a href="#" class="account__link">Личные данные</a></li>
      <li class="account__item"><a href="#" class="account__link">Мои заказы</a></li>
      <li class="account__item"><a href="#" class="account__link">Агентские заказы</a></li>
    </ul>
    <button class="btn-reset all-btn signin-btn">Выйти</button>
  </div>
</div>