<section class="slider-section">
  <h2 class="visually-hidden">Slider</h2>
  <div class="container-slider">
    <div class="banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/slide-1.jpg" alt="slide photo">
        </div>
        <div class="swiper-slide">
          <img src="../img/slide-2.jpg" alt="slide photo">
        </div>
        <div class="swiper-slide">
          <img src="../img/slide-3.jpg" alt="slide photo">
        </div>
      </div>
      <div class="swiper-pagination banner-pag">
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>