// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-pacific-blue: #009ec5;
  --color-corduroy: #676868;
  --color-silver: #c4c4c4;
  --color-seashell: #f1f1f1;
  --color-mercury: #e5e5e5;
  --color-mine-shaft: #343434;
  --color-red: #ff0000;
  --burger-width: 18px;
  --burger-height: 11px;
  --burger-line-height: 2px;
}
